<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/vue-treeselect.min.css">
    <title>dxcb</title>
	<style>
	html
{
    background: url('static/a.jpg');
    repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/a.jpg', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='static/a.jpg', sizingMethod='scale');
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
    
      .mt-range {
        width: 100%;
      }
	</style>
  </head>
  <body>
    <div id="app">
		<mt-navbar v-model="selected">
		<mt-tab-item id="1">说明</mt-tab-item>
		<mt-tab-item id="2">功能</mt-tab-item>
		<mt-tab-item id="3">设置</mt-tab-item>
		</mt-navbar>

		<!-- tab-container -->
		<mt-tab-container v-model="selected" :swipeable="false">
			<mt-tab-container-item id="1">
			<p style="margin-left:30px;color:#26a2ff;">欢迎使用本脚本扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉扒拉</p>
			</mt-tab-container-item>
			
			<mt-tab-container-item id="2">
				<mt-food></mt-food>
				
				<cell-select :title="sel_title" :source="sel_source" :label="sel_label" :placeholder="placeholder1" @updateselect="getselect" keys="sel_value"></cell-select>
			
				<cell-select :title="sel2_title" :source="sel2_source" :label="sel2_label" :placeholder="placeholder2" @updateselect="getselect" keys="sel_value2"></cell-select>
			
				<cell-select :title="sel3_title" :source="sel3_source" :label="sel3_label" :placeholder="placeholder3" @updateselect="getselect" keys="sel_value3"></cell-select>
			
				<cell-select :title="sel4_title" :source="sel4_source" :label="sel4_label" :placeholder="placeholder4" @updateselect="getselect" keys="sel_value4"></cell-select>
				
				<mt-cell title="回城方式" label="回城方式">
					<mt-switch v-model="switch_value" @change="handleChange">{{switch_label}}</mt-switch>
				</mt-cell>
				
				<mt-cell title="寻怪模式" label="推荐自定路线">
					<mt-switch v-model="switch_value2" @change="handleChange2">{{switch_label2}}</mt-switch>
				</mt-cell>
	
			</mt-tab-container-item>
			
			<mt-tab-container-item id="3">
			</mt-tab-container-item>
		
		</mt-tab-container>
		<p></p>
		<div class="page-button-group"><mt-button type="primary" size="large" @click.native="submit">提交</mt-button></div>
	</div>
    <!-- built files will be auto injected -->
  </body>
</html>
